.git/
.github/
.gitignore
.next/
.dockerignore
Dockerfile*
docker-compose.yml
node_modules/
optimizer/
out/
gcloud-service-account.json
__test__
.output
.vinxi
package-lock.json
bun.lock*
.env
.github
.claude
.husky
.vscode
local_certificate
start